body{
    background-color: #f2f2f2;
    height: 100%;

}
h1,h2,h3{
    font-family: 'Montserrat', sans-serif;
}
label, li, p{
    font-family: 'Roboto Mono', monospace;
}
#cvTemplate{
    display: none;
}

.myImage{
    border: 1px solid black;
    width: 50%;
    height: 50%;
    height: fit-content;
}

.name-cv{
    font-size: 5rem;
    font-weight: 600;
}

.contact{
    background-color: lightblue;
    margin-top: 25px;
    padding: 10px;
}
.left{
    border-right: 1px solid black;
    height: 100%;
}

.icon{
    color: black;
    margin: 10px;
    margin-top: 15px;
    padding: 15px;
    font-size: 2rem;
}

.none-background{
    background-color: #f2f2f2;
    border: none;
}
.car{
    border-bottom: none;
}